<!-- Button trigger modal -->
<div class="text-center">
<br><br><h2>Gestion des employées</h2><br>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Ajouter un employé
</button>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ajout</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- ici on va mettre le formulaire d'ajout -->
        <form #subscribe="ngForm" (submit)="signup()">
          <div class="mb-3 text-center">

          </div>
          <div class="mb-3">
            <label  class="form-label">Nom </label>
            <input type="text" required [(ngModel)]="employee.nom" name="nom" class="form-control">

          </div>
          <div class="mb-3">
            <label  class="form-label">prénom </label>
            <input type="text" required [(ngModel)]="employee.prenom" name="pr" class="form-control">

          </div>
          <div class="mb-3">
            <label  class="form-label">téléphone </label>
            <input type="text" required [(ngModel)]="employee.tel" name="tel" class="form-control">

          </div>
          <div class="mb-3">
            <label  class="form-label">Email </label>
            <input type="email" required [(ngModel)]="employee.email" name="mail" class="form-control">

          </div>
          <div class="mb-3">
            <label class="form-label">mot de passe</label>
            <input type="password" name="pass" required [(ngModel)]="employee.password" class="form-control" >
          </div>

          <button [disabled]="subscribe.invalid" type="submit" class="btn btn-primary">S'inscrire</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

